@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

h1,
h2,
h3,
h5{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(3, 127, 235);
    padding: 3px;
}

h1{
    font-size: 1.5em;
    color: darkblue;
    text-align: center;
    padding: 0.5em;
}

h2{
    font-size: 2em;
}

p{
    color: gray;
    font-size: 1.5em;
}

h3{
    background-color: black;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

h5{
    font-size: 3em;
    text-align: center;
}


.bg-colors{
background-color:#0095D7;
width: 100;
display: block;
font-size: 1.5em;

}

#botonera img{
    width: 150px;
    
}

.btn-blue{
    background-color: black;
    color: white;
}

label{
    font-size: 1.5em;
}



@media (min-width: 280px) and (max-width: 667px){
    #botonera img{
        width: 100%;
        
    }
}
